.taskContainer {
  background-color: white;
  color: black;
  width: 400px;
  height: 250px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgb(223, 220, 220);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  
}
.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
}

.heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.taskList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  max-height: 250px;
  scrollbar-width: none;
}
.taskList::-webkit-scrollbar {
  display: none;
}

.taskCard {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #333;
}

.profilePic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid white;
}

.taskInfo {
  display: flex;
  flex-direction: column;
}

.clientName {
  font-weight: bold;
  color: black;
}

.remark {
  font-size: 14px;
  color: rgb(82, 81, 81);
}
