.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.filterWrapper {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 20px;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 10;
  overflow: hidden;
  min-width: 100px;
}

.dropdownItem {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background 0.2s ease;
}

.dropdownItem:hover {
  background-color: #f0f0f0;
}

.linegraphContainer {
  border: 2px solid rgb(223, 220, 220);
  width: 660px;
  height: 250px;
  border-radius: 10px;
  padding: 10px;
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
