.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px;
    margin-left:  20px;
    background-color:rgb(233, 225, 225);
    border-radius: 8px;
  }
  
  .chartWrapper {
    text-align: center;
    padding: 10px;
   
  }
  
  .title {
    font-size: 16px;
    font-weight: bold;
    /* margin-bottom: 12px; */
  }
  .header{
    font-size: 15;
   font-weight: bold;
   padding: 10px;
  
   }
   