.container {
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  position: relative;
  background: #333;
  height: 110px;
}

.fullContainer {
  background: #333;
}

.title {
  margin-left: 20px;
  color: white;
}

.card {
  background: rgb(83, 82, 82);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  text-align: left;
  min-width: 100px;
  flex: 1;
  position: relative;
  /* top: 20px; */
  height: 70px;
}

.card h4 {
  font-size: 14px;
  /* color: #666; */
  color: white;
}

.card h2 {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.card .positive {
  color: green;
  font-size: 12px;
}

.card .negative {
  color: red;
  font-size: 12px;
}
