.container {
  display: flex;
  gap: 15px;
  align-items: center;
  padding-left: 10px;
  padding-top: 60px;
  flex-wrap: wrap;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2a2a2a;
  border: none;
  color: #bfe9ff;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 5px #00e1ff44;
  height: 45px;
  width: 200px;
  white-space: nowrap; 
}

.button:hover {
  background-color: #3a3a3a;
  transform: translateY(-1px);
  box-shadow: 0 0 8px #00e1ff88;
}

.icon {
  margin-right: 8px;
  font-size: 18px;
  color: #00e1ff;
}
