
.dateTimeGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .subLabel {
    display: block;
    font-size: 0.85rem;
  
    color: #555;
  }
  
  .previewText {
    margin-top: 10px;
    font-style: italic;
    color: #444;
    font-size: 0.95rem;
  }
  